{
  "servicekey": "bullwark-microservice-server",
  "serviceid": "1",
  "basepath": "/microservice",
  "hostprovider": "static",
  "host": "{{ target_ip }}",
  "port": 8001,
  "public": true,
  "scheme": "http",
  "metadata": {}
}
