[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ install_dir }}/consul/conf/consul.json

[Service]
User=consul
Group=consul
ExecStart={{ install_dir }}/consul/bin/consul agent -config-dir={{ install_dir }}/consul/conf/ -bind={{ target_ip }}
ExecReload={{ install_dir }}/consul/bin/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target