[Unit]
Description=The Apache HTTP Server
After=network.target remote-fs.target nss-lookup.target
Documentation=man:httpd(8)
Documentation=man:apachectl(8)

[Service]
Environment=HTTPD_SERVER_NAME={{ target_ip }}
Environment=HTTPD_SERVER_PORT=443
Environment=HTTPD_USE_HOSTNAME=false
Environment=SSL_CERT_PATH={{ install_dir }}/certs/cert.pem
Environment=SSL_CERT_KEY_PATH={{ install_dir }}/certs/key.pem
Environment=SSL_CA_PATH={{ install_dir }}/certs/ca
